/* * {
  margin: 0;
  padding: 0;
} */

/*list selector that select more than one element and set property all that element*/
h1,
h2,
h3,
h4,
p,
li {
  /*this is known as list selector*/
  font-family: sans-serif;
  color: #444444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

.container {
  width: 800px;
  margin: 0 auto;
}
.main-header {
  background-color: rgba(236, 213, 213, 0.695);
  padding: 20px 40px; /*this is shorthand padding first value represent paddingleft and paddingright - other value left-right*/
  margin-bottom: 60px;
}

.post-header {
  margin-bottom: 40px;
}
/*desendendants selector target only specific elemenet*/
/*nested selector footer -> p*/
/* footer p {
  font-size: 15px;
  font-style: italic;
}
article header p {
  font-style: italic;
} */

/* classes represent by dot(.) implementation of classes in css below */
.related-author {
  font-size: 18px;
  font-weight: bold;
}

.related {
  list-style: none;
}

/* id represent by (#) implementation of classes in css below*/
#author {
  font-style: italic;
  font-size: 18px;
}
#copyright {
  font-size: 16px;
}

article {
  margin-bottom: 60px;
}

h1 {
  font-size: 26px;
  /* font-family: sans-serif; */
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-size: 40px;
  /* font-family: sans-serif; */
  margin-bottom: 20px;
}

h3 {
  font-size: 30px;
  /* font-family: sans-serif; */
  margin-top: 40px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  /* font-family: sans-serif; */
  text-transform: uppercase; /* this basically transform the text into lower or uppercase or capital case*/
  text-align: center;
}

p {
  font-size: 18px;
  /* font-family: sans-serif; */
  /* line-height: 1.5px; -> this set the gap between to line about 1.5px*/
  line-height: 1.5px;
  margin-bottom: 15px;
}

li {
  font-style: 20px;
  /* font-family: sans-serif; */
}

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 0;
}

 {
  /*Psuedo class below to style li element specific child element*/
}
li:first-child {
  font-weight: bold;
}

li:nth-child(even) {
  font-style: italic;
  color: rebeccapurple;
}

/* Misconception it won't work*/
article p:first-child {
  color: red;
}

/*Styling the link*/
/*link pseudo class*/
a:link {
  /* this a:link only that anchor which have href attribute*/
  color: #1098ad;
  text-decoration: none; /* this none remove the underline from links*/
}

/*visited pseduo class means style that link that already clicked*/
a:visited {
  color: #1098ad; /*as link I clicked already so converted into orange-color if we use orange-color*/
}

/*hover pseduo class use when you hover link style will change*/
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
  /* background-color: greenyellow; */
}

/*active pseduo class use when you click on the link then link style will change*/
a:active {
  background-color: black;
  font-style: italic;
}

/*above 4 pseduo class for anchor tag used in same manner -> Link->visited->hover->activ*/
